*{
    margin: 0;
    padding: 0;
}
a, a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: tahoma;
}
P{
    font-size: 14px;
    font-family: tahoma;
}
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
}
/* global css end */

/* header section start */
.bg-light{
    background: #fff9f3 !important;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffbc02e6;
    background: url(../images/hr.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 16px;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffbc02e6;
    background: url(../images/hr.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.search-icon .btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 0 0 10px #888080;
    border-radius: 30px;
    padding: 6px 20px;
}
.search-icon .btn-light:hover,
.search-icon .btn-light:focus{
    color: #fff;
    transition: .7s;
    box-shadow: 0 0 10px #888080;
    border: 0px;
    background: #ffbc02e6;
    font-weight: 700;
    padding: 8px 30px;
}
/* header section end */
/* ************************************************************************* */

/* banner section start */
.banner{
    background: url(../images/banner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-banner{
    margin: 200px 0px 300px 10px;
}
.inner-banner h2{
    font-size: 36px;
    font-weight: 600;
    color: #ffbc02e6;
    margin: 0px 0px 20px 0px;
}
.inner-banner p{
    margin: 0px 0px 20px 0px;
    line-height: 20px;
    font-weight: 400;
}
.inner-banner .btn-warning{
    border-radius: 30px;
    color: #fff;
    background: darkorange !important;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 25px;
}
.inner-banner .btn-warning:hover{
    border-radius: 30px;
    color: #ffc400;
    background: #fff !important;
    border: 1px solid #ffc400;
    font-weight: 600;
    padding: 8px 35px;
    transition: .5s;
}
.inner-banner .btn-warning:focus{
    border-radius: 30px;
    color: #ffc400;
    background: #fff;
    border: 1px solid #ffc400;
    font-weight: 600;
    padding: 8px 35px;
    transition: .5s;
}

/* banner section end */
/* ************************************************************************* */

/* department section start */
.department{
    width: 100%;
    background: none;
}
.department-head-title{
    text-align: center;
    margin: 60px 0px 20px 0px;
}
.department-head-title h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
}
.department-head-title p{
    font-size: 14px;
    line-height: 20px;
}
.inner-department1{
    width: 80%;
    height: 350px;
    background-color: #f9703a;
    border-radius: 10px;
    margin: 40px 0px 20px 0px;
}
.inner-department1:hover{
    margin: 20px 0px 40px 0px;
    transition: .5s;
    box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #000;
}
.inner-department1 img{
    width: 200px;
    margin: 50px 0px 0px 40px;
}
.inner-department1 h3{
    color: #fff;
    font-weight: 600;
    margin: 0px 0px 0px 70px;
    font-size: 18px;
}

.inner-department2{
    width: 80%;
    height: 350px;
    background-color: #80be41;
    border-radius: 10px;
    margin: 40px 0px 20px 0px;
}
.inner-department2:hover{
    margin: 20px 0px 40px 0px;
    transition: .5s;
    box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #000;
}
.inner-department2 img{
    width: 200px;
    margin: 50px 0px 0px 40px;
}
.inner-department2 h3{
    color: #fff;
    font-weight: 600;
    margin: 0px 0px 0px 70px;
    font-size: 18px;
}

.inner-department3{
    width: 80%;
    height: 350px;
    background-color: #ffb258;
    border-radius: 10px;
    margin: 40px 0px 20px 0px;
}
.inner-department3:hover{
    margin: 20px 0px 40px 0px;
    transition: .5s;
    box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #000;
}
.inner-department3 img{
    width: 200px;
    margin: 50px 0px 0px 40px;
}
.inner-department3 h3{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin: 0px 0px 0px 70px;
}
/* department section end */

/* limite section start */
.limite{
    
}
.inner-limite{
    background: url(../images/bgshape.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
.inner-limite img{
    border-radius: 100%;
    margin: 100px 0px 80px 0px;
   
}
.inner-limite iframe {
    position: absolute;
    top: 74px;
    left: 153px;
    border-radius: 100%;
    margin: 100px 0px 80px 0px;
}
.inner-limite iframe:hover{
    top: 0px;
    left: 100px;
    width: 400px;
    height: 400px;
    transition: 1s;
}

.inner-limite1{
    margin-top: 100px;
}
.inner-limite1 h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.inner-limite1 p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 20px;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
  
.number-count h2 {
    transition: --num 5s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}
.number-count h2::after {
    content: counter(num);
}
.number-count h2:hover {
    --num: 4000;
}
  

/* limite section end */
/* ************************************************************ */
/* Around section start */
.around-section{
    margin: 70px 0px;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 40px 10px 0px;
    width: 260px !important;
    height: 330px !important;
}
.card:hover{
    box-shadow: 0 0 10px black, 0 0 20px black;
    transition: .5s;
    margin: 20px 10px 20px;
}
.card-body h5{
    font-size: 14px;
    font-weight: 700;
}
.card-body h5:hover{
    color: orangered;
}
.arround-title h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0px 50px 0px;
}
.inner-arround .btn-light{
    background: transparent !important;
    border: 0px;
    color: black;
}
.inner-arround .btn-light:hover{
    background: rgb(255, 2, 255) !important;
    color: greenyellow;
}

.btn-info{
    background: transparent !important;
    color: rgb(0, 0, 0);
    border: 0px;
}
.inner-arround .btn-info:hover{
    background: rgb(2, 183, 255) !important;
    color: rgb(255, 255, 255);
}

.btn-danger{
    background: transparent !important;
    color: rgb(0, 0, 0);
    border: 0px;
}
.inner-arround .btn-danger:hover{
    background: rgb(248, 59, 2) !important;
    color: rgb(250, 245, 244);
}

.btn-primary{
    background: transparent !important;
    color: rgb(0, 0, 0);
    border: 0px;
}
.inner-arround .btn-primary:hover{
    background: rgb(2, 6, 248) !important;
    color: rgb(250, 245, 244);
}

.btn-warning{
    background: transparent !important;
    color: rgb(0, 0, 0);
    border: 0px;
}
.inner-arround .btn-warning:hover{
    background: rgb(248, 162, 2) !important;
    color: rgb(5, 18, 37);
}

/* Around section end */
/* ********************************************************************* */

/* footer-section start */
.footer-section{
   width: 100%;
}
.top-footer{
    width: 100%;
    background: rgb(14, 11, 61);
}
.top-footer .inner-top-footer{
    width: 100%;
    margin: 50px 0px;
    
}
.inner-top-footer p{
    color:rgb(141, 141, 141);
    line-height: 20px;
    font-size: 14px;
    margin: 30px 10px;
}
.inner-top-footer ul{
    margin-left: -100px;
}
.inner-top-footer ul li{
    list-style: none;
}
.inner-top-footer ul li i{
    font-size: 15pt;
    color: rgb(98, 98, 98);
    margin-left: 15px;
}
.inner-top-footer ul li i:hover{
    color: rgb(0, 247, 255);
    font-size: 18pt;
    transition: .5s;
}
/* ****************************** */
.inner-top-footer h5{
    font-size: 16pt;
    font-weight: 400;
    color: darkgrey;
    margin-bottom: 50px;
}
.inner-top-footer a{
    text-decoration: none;
    font-size: 10pt;
    font-weight: 400;
    color: darkgrey;
    
}
.inner-top-footer a small{
    font-size: 14px;
    font-weight: 300;
    color: darkgrey;
}
/* ************************* */
.inner-top-footer .input-area{
    position: relative;
}
.inner-top-footer .input-area input{
    padding: 3px 0px 3px 10px;
}
.inner-top-footer .input-area .btn-light{
    position: absolute;
    top: 0;
    right: 10px;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    background: darkorange;
    padding: 7px 10px;
    font-weight: 600;
}
.inner-top-footer .input-area .btn-light:hover{
    color: #fff;
    background: rgb(1, 170, 15);
    transition: .7s;
}
/* ********************************************* */
.footer-down{
    background: rgb(11, 4, 49);
}
.inner-footer-down p {
    color: dimgray;
    padding: 19px 0px 0px 0px;
}
.inner-footer-down .navbar-nav{
    margin: 0px 0px 0px 154px;
}
.inner-footer-down .navbar-nav .nav-link{
    color: dodgerblue;
}
.inner-footer-down .navbar-nav .nav-link:hover{
    color: rgb(255, 102, 0);
    font-weight: 12pt;
    transition: .5s;
}
/* footer-section end */